@charset "UTF-8";


#top_mini_1_ul{
	float:right;
	list-style:none;
	position:relative;
	padding-top:10px;
}


#top_mini_1_ul li{
	display:inline;
	width: 45px;
	height: 19px;
	padding: 10px 9px 0 10px;
	cursor: pointer;
}