<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.sjb.mapper.CartMapper">


 <!-- 테스트 -->
 <insert id="cartEnroll">
	insert into sjb_cart(productId, memberId, cartStock, addDate ) values(#{productId}, #{memberId}, #{cartStock}, sysdate());
 </insert>

	  
  
  </mapper>