<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.sjb.mapper.ReplyMapper">
  
  <!-- 댓글 등록 -->
  <insert id="replyInsert">
  
	insert into sjb_reply(productID, memberID, likeRating, repCon, repDate)
	values(#{productID}, #{memberID}, #{likeRating}, #{repCon}, sysdate());
  
  </insert>
  
  <!-- 댓글 리스트 페이징 -->
  <select id="replyListPaging" resultType="com.sjb.model.ReplyVO">
  
	  select * from (
		select @rownum:=@rownum+1 as rownum, repNum, memberID, productID, repCon, repDate, modDate, likeRating
	    from (select @rownum:=0) as rownum, sjb_reply
	    
	    order by repDate desc
	
	) sjb_reply
	
	where productID = #{productID}
	
		<![CDATA[	
			and rownum >(#{pageNum}-1)*#{amount} and rownum<=#{pageNum}*#{amount} ;
		]]>


  </select>
  
  <!-- 댓글 삭제 혹은 수정 전 아이디 체크 -->
  <select id="replyUserCheck"  resultType="string">
  
  	select memberId from sjb_reply where repNum = #{repNum}
  
  </select>
  
  <!-- 댓글 삭제 -->
  <delete id="replyDelete">
  	
  	delete from sjb_reply where repNum = #{repNum} and  memberId = #{memberID};	
  	
  </delete>
  
  <!-- 제품 평점 평균 -->
  
  <select id="replyAvg" resultType ="float">
  
  select avg(likeRating)from sjb_reply where productID = #{productID};
  
  </select>
  
  <!-- 제품 평점 평균 업데이트하기 -->
  
  <update id="replyUpdate">
  
  update sjb_book set LikeStar = #{likeRating} where productID = #{productID};
  
  </update>
  
  <!-- 댓글/리뷰 수정 -->
  <update id="replyModify">
  
  update sjb_reply set repCon = #{repCon}, likeRating = #{likeRating} where repNum = #{repNum} and memberID = #{memberID};
  
  </update>
  
  
  </mapper>